{% extends "base.html" %}

{% from "macros.html" import render_pagination %}

{% block title %}
    职位列表
{% endblock %}

{% block body %}
    <div class="job-list">
        <h2 class="h4 mt40 job-list-title">热门职位</h2>
        <div class="row">
            {% for joblist  in pagination.items %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="https://soo9s.me/blogShow.jpg" alt="职位图标">
                        <div class="caption">
                            <h3>{{ joblist.name }}</h3>
                            <p>{{ joblist.description }}</p>
                            <p>
                                <a href="{{ url_for('job.job_detail',id=joblist.id) }}"
                                   class="btn btn-primary" role="button">查看职位详情</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row col-xs-12 col-md-3">
    </div>
    {{ render_pagination(pagination,'job.index') }}
{% endblock %}
