<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    {% block css %}
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">JOBPLUS</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Index <span class="sr-only">(current)</span></a></li>
                <li><a href="{{ url_for('job.index') }}">Jobs</a></li>
                <li><a href="{{ url_for('company.index') }}">Company</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('front.register') }}">注册</a></li>
                    <li><a href="{{ url_for('front.login') }}">登录</a></li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span id="username">#</span><span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">我的主页</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('front.logout') }}">退出登录</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
</div>
{% block footer %}{% endblock %}
{% block js %}
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>

    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
{% endblock %}
</html>
