{% extends "base.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}
    企业列表
{% endblock %}

{% block body %}
    <div class="job-list">
        <h2 class="h4 mt40 job-list-title">热门企业</h2>
        <div class="row">
            {% for companylist  in pagination.items %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="https://soo9s.me/blogShow.jpg" alt="企业logo">
                        <div class="caption">
                            <h3>{{ companylist.name }}</h3>
                            <p>{{ companylist.description }}</p>
                            <p>
                                <a href="{{ url_for('company.company_detail',id=companylist.id) }}"
                                   class="btn btn-primary" role="button">查看企业详情</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row col-xs-12 col-md-3">
        </div>
    </div>
    {{ render_pagination(pagination,'company.index') }}

{% endblock %}
