{% extends "base.html" %}

{% block title %}Admin{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a class="list-group-item" href="">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span class="course__chapter__name">用户管理</span>
                </a>
                <a class="list-group-item" href="">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    <span class="course__chapter__name">职位管理</span>
                </a>
            </div>
        </div>
        <div class="col-md-9">
            {% block user %}{% endblock %}
        </div>

    </div>

{% endblock %}