{% extends "admin/admin_base.html" %}

{% block operation %}
    <h2>
        用户管理
        <a class="btn btn-primary" href="#" style="margin-left: 70%" role="button"><span
                class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加用户</a>

    </h2>
{% endblock %}

{% block user %}
    <div class="bs-example" data-example-id="striped-table">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>邮箱</th>
                <th>用户类型</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>企业名称</th>
                <th>企业网站</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>12312312</td>
                <td>企业名称</td>
                <td>企业网站</td>
                <td>
                    <a class="btn-xs btn-success" href="#" role="button">启用</a>

                </td>
                <td>
                    <a class="btn-xs btn-info" href="#" role="button">编辑</a>
                    <a class="btn-xs btn-danger" href="#" role="button">删除</a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}